# dependencies
node_modules

# turbo
.turbo

# next
.next

# nest
dist

# env
.env
.env.local
.env.development.local
.env.production.local

# logs
*.log

# macOS
.DS_Store

# vscode
.vscode/settings.json

# coverage
coverage

# prisma
prisma/dev.db

# generated
generated